<nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img alt="" class="logo-sm" height="75" src="assets/images/logo.png" width="75"/>

    </a><!--end navbar-brand-->
    <a aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
       data-bs-target="#navbarNav" data-bs-toggle="collapse" href="javascript:void(0)">
      <span class="navbar-toggle-icon"><i data-feather="menu"></i></span>
    </a><!--end navbar-toggler-->

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto navbar-center mt-lg-0 mt-2">
        <li *ngFor="let navItem  of navItems" class="nav-item">
          <a (click)="clickActive(navItem.id)" :href="#{{navItem.href}}" [class]="{
            active: navItem.id === numActive
          }" class="nav-link active">{{navItem.title}}</a>
        </li><!--end nav-item-->
      </ul><!--end navbar-nav-->
      <!--                    <a href="#" class="btn btn-sm nav-btn text-primary mb-4 mb-lg-0">Hire Me! <i class="icon-xxs ms-1" data-feather="chevrons-right"></i></a>-->
    </div><!-- end #navbarNav -->
  </div><!-- end container -->
</nav>
