<div class="card rounded shadow border-0 m-2 h-100">
  <div @scale class="card-body p-4 m-2 mt-3">
    <div class="media mb-3">
      <div class="bg-soft-alt-info d-flex justify-content-center align-items-center thumb-xl rounded">
        <img alt="Avatar Project" class="thumb-md" src="{{project.avatarUrl}}">
      </div>
      <div class="media-body ms-3 align-self-center">
        <h5 class="text-dark fs-18 fw-medium mb-1">{{project.name}}</h5>
        <p class="text-muted mb-0 fs-13 text-break">{{project.projectLink}}<a [href]="project.projectLink"
                                                                              target="_blank"><i
          class="ti ti-external-link fs-18 text-primary"></i></a></p>
      </div><!--end media-body-->
    </div><!--end media-->
    <span *ngFor="let tag of project.tags; last as isLast"
          [class.me-2]="!isLast"
          class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">{{tag}}</span>
  </div><!-- end card-body -->
</div><!-- end card -->
