<!-- start resume -->
<section class="section" id="resume">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-10 col-lg-7 text-center">
        <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Life Time</span>
        <h2 class="fs-2 fw-medium lh-1 text-dark my-3">Education & Experience</h2>
        <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
          Learn more, Practice More, Share more                         </p>
      </div><!--end col-->
    </div><!--end row-->
    <div class="row">
      <div class="col-12">
        <div class="row g-0">
          <div class="col-lg-4 col-md-6">
            <div class="card rounded bg-light h-100 border-0">
              <div class="card-body d-flex justify-content-center align-items-center">
                <div class="mx-auto text-center">
                  <img src="assets/images/personal/school%20(1).png" alt="" class="vector-dark" height="150">
                  <img src="assets/images/personal/school-light.png" alt="" class="vector-light" height="150">
                  <h5 class="text-dark fs-22 fw-medium my-2">Education</h5>
                </div>
              </div><!-- end card-body -->
            </div><!-- end card -->
          </div><!-- end col -->
          <div class="col-lg-8 col-md-6">
            <div class="card rounded bg-white  h-100 border-0">
              <div class="card-body p-0">
                <div class="accordion accordion-flush" id="Education_accordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="prime">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Education_one" aria-expanded="false">
                        Bachelor's Degree in IT
                        <span class="fw-medium text-primary ms-auto fs-14">2019 - 2023</span>
                      </button>
                    </h2>
                    <div id="Education_one" class="accordion-collapse collapse show" aria-labelledby="prime" data-bs-parent="#Education_accordion">
                      <div class="accordion-body">
                        <p class="text-muted mb-3">Thang Long University is a multidisciplinary university in Hanoi city, this is the first private higher education institution to be established and developed in the Socialist Republic of Vietnam, established in 1988.
                        </p>
                        <p class="fw-medium">GPA: 3.1/4 </p>
                      </div>
                    </div>
                  </div><!--end accordion-item-->

                </div><!--end accordion-->
              </div><!-- end card-body -->
            </div><!-- end card -->
          </div><!-- end col -->
        </div><!-- end row -->
        <hr class="hr-dashed">
        <div class="row g-0">
          <div class="col-lg-4 col-md-6">
            <div class="card rounded bg-light h-100 border-0">
              <div class="card-body d-flex justify-content-center align-items-center">
                <div class="mx-auto text-center">
                  <img src="assets/images/personal/job%20(1).png" alt="" class="vector-dark" height="150">
                  <img src="assets/images/personal/job-light.png" alt="" class="vector-light" height="150">
                  <h5 class="text-dark fs-22 fw-medium my-2">Experience</h5>
                </div>
              </div><!-- end card-body -->
            </div><!-- end card -->
          </div><!-- end col -->
          <div class="col-lg-8 col-md-6">
            <div class="card rounded bg-white  h-100 border-0">
              <div class="card-body p-0">
                <div class="accordion accordion-flush" id="Experience_accordion">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="first-co">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Experience_one" aria-expanded="false">
                        Teaching Assistant - Thang Long University
                        <span class="fw-medium text-primary ms-auto fs-14">2020 - 2021</span>
                      </button>
                    </h2>
                    <div id="Experience_one" class="accordion-collapse collapse show" aria-labelledby="first-co" data-bs-parent="#Experience_accordion">
                      <div class="accordion-body">
                        <p class="text-muted mb-1">- Supports for Student about C++, Object-Oriented Programming. </p>
                        <p class="text-muted mb-1">- Fixed bug for Student.</p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-13 text-uppercase mt-2">C++</span>
                      </div>
                    </div>
                  </div><!--end accordion-item-->
                </div><!--end accordion-->
              </div><!-- end card-body -->
            </div><!-- end card -->
          </div><!-- end col -->
        </div><!--end row-->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!-- end resume -->
