<!-- start hero -->
<section class="hero-one position-relative main-bg" id="home"
         style="background-image: url(assets/images/personal/main-bg.png); background-size: cover; background-position: center center;">
  <div class="container">
    <div class="row align-items-center justify-content-center">

      <div class="col-lg-5  mx-auto mt-5">
        <img alt="" class="img-fluid ml-lg-5" src="assets/images/personal/personal-img.png">
      </div><!--end col-->
      <div class="col-lg-7 text-center px-0 px-xl-4 mt-5 mt-lg-0 pt-5 pt-lg-0">
        <h5 class="d-inline-block py-1 px-3 rounded text-muted font-secondary">Hi, I'm Thuong Le</h5>
        <h1 class="hero-title mb-4 font-secondary fo">I'm a
          <mark>Javascript</mark>
          Developer
        </h1>
        <span class="wrap"></span>
        <div class="mb-5 mb-lg-0">
          <div class="d-inline-block">
            <a class="btn btn-primary" download href="../../assets/Le-Van-Thuong-sf.pdf" target="_blank">Download CV</a>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!-- end container -->
</section>
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg fill="none" viewBox="0 0 2880 48" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
